*{
    margin: 50;
    padding: 10;
    box-sizing: border-box;
    font-family:  Arial, sans-serif;
}
#jobform {
    background: white;
    width: 400px;
    margin: 30px auto;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
h2 {
    color: black;
    margin-top: 30px;
}
body {
  background-color: lightgray;
  color: #333;
  line-height: 1.6;
}